# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*

# Properties files
*.properties
!gradle.properties
!gradle-wrapper.properties
application*.properties
config.properties
**/config.properties
**/application*.properties

.gradle/
build/
local.properties
application-local.properties
/screenshots/*
/bin/*
/dmtools-server/bin/*
/data/*.mv.db
/data/*.lock.db
/dmtools-server/data/*.mv.db
/dmtools-server/data/*.lock.db

# Cache directories
/cache_nanny/
/cacheBasicJSAIClient/
/cacheJSAIClient/
/cacheBasicJiraClient/
/cacheBasicOpenAI/
/cacheBasicGitLab/
/dmtools-core/cacheBasicGitLab/
/dmtools-core/cacheJSAIClient/
/dmtools-server/cacheJSAIClient/
/data/
data/dmtools-db.lock.db
data/dmtools-db.mv.db
data/*.db
data/*.db
data/*.lock.db
data/*.mv.db
